/* Fondo para esta página */
body{
  min-height: 100vh;
  background: url('/Cliente-Servidor-Farmacia/Views/assets/Imagenes/fondodash.jpg')
              center center / cover no-repeat fixed;
}

/* Contenedor ancho tipo tarjeta */
.main-content{
  max-width: 1200px;
  width: 95%;
  margin: 90px auto 32px;
  padding: 20px 28px;
  background: #fff;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0,0,0,.2);
}

h2 {
  color: #333;
  font-weight: 600;
  text-align: center;
  margin-bottom: 25px;
}

/*-----------------------------------*/
